/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.pane{
	-fx-background-image: url("../images/g1.jpg");
}

.pane1{
	-fx-background-image: url("../images/g2.jpg");
}

.textarea{
	-fx-text-fill: teal;
}
.btn10{
	-fx-text-alignment: center ;
	-fx-background-color: transparent ;
	-fx-border-color: teal;
	-fx-border-width: 0px 0.0px 0.5px 0px;
	-fx-pref-width: 120px;
	
}

.btn10:hover{
	-fx-background-color: teal;
	-fx-text-fill: white;
	-fx-font-weight: bolder;
	-fx-font-size: 15px;
}
.btn11{
	-fx-text-alignment: center ;
	-fx-background-color: transparent ;
	-fx-border-color: white;
	-fx-border-width: 0px 0.0px 0.5px 0px;
	-fx-pref-width: 120px;
	
}

.btn11:hover{
	-fx-background-color: white;
	-fx-text-fill: teal;
	-fx-font-weight: bolder;
	-fx-font-size: 15px;
}

.btn{
    -fx-background-color: transparent;
    -fx-border-color: #3131b2;
    -fx-border-radius: 5px;
    -fx-text-fill: #3131b2;
    
    
}

.btn:hover{
    -fx-background-color: #3131b2;
    -fx-text-fill: lightblue;
    
}

.btn1{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0px 0px 0.2px 0px;
    -fx-text-fill: whitesmoke;
    -fx-hgap: 10;
}

.btn1:hover{
    -fx-background-color: orange;
    -fx-text-fill:  #2A3135;
    -fx-font-size: 15px;
}

.btn2{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0.2px 0.2px 0px;
    -fx-border-color: orange;
    -fx-text-fill: orange;
}

.btn2:hover{
    -fx-background-color:  #2A3135;
    -fx-text-fill:  orange;
    -fx-font-size: 17px; 
}

.btn3{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0.2px 0.2px 0px;
    -fx-border-color: whitesmoke;
    -fx-text-fill: whitesmoke;
}

.btn3:hover{
    -fx-background-color:  #2A3135;
    -fx-text-fill:  orange;
}

.btn4{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0.2px 0.2px 0px;
    -fx-border-color: orange;
   
}
.btn4:hover{
    -fx-background-color:  #2A3135;
    -fx-text-fill:  orange;
}

